.container {
  background: #ffffff;
  border-radius: 17px;
  padding: 17px 15px;
  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
  animation-duration: 0.4s;
  animation-name: scaleUp;
}
.container-active {
  background: var(--tg-theme-button-color);
}
@keyframes scaleUp {
  from {
    opacity: 0;
    transform: scale(0.8) translateY(50px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}

.title {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 0;
  transition: 0.3s;
}
.container-active .title {
  color: var(--tg-theme-button-text-color);
}
.price-time-container {
  display: flex;
  align-items: center;
}
.price {
  font-weight: 600;
  font-size: 14px;
  margin-top: 6px;
  margin-bottom: 0;
  transition: 0.3s;
}
.container-active .price {
  color: var(--tg-theme-button-text-color);
}
.time {
  font-weight: 500;
  font-size: 12px;
  color: #999999;
  margin-left: 10px;
  margin-top: 6px;
  margin-bottom: 0;
  transition: 0.3s;
}
.container-active .time {
  color: var(--tg-theme-button-text-color);
}
.deleteIcon path {
  fill: var(--tg-theme-button-text-color);
}
