.spec-container {
  background: #ffffff;
  border-radius: 17px;
  padding: 12px 15px;
  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s;
  animation-duration: 0.4s;
  animation-name: scaleUp;
}
.spec-container-active {
  background: var(--tg-theme-button-color);
}
.img-name-container {
  display: flex;
  align-items: center;
}
.photo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 11px;
}
.name-qual-container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  margin-bottom: 2px;
  margin-top: 0;
  transition: all 0.3s;
}
.spec-container-active .name {
  color: var(--tg-theme-button-text-color);
}
.qualification {
  font-weight: 500;
  font-size: 11px;
  color: #b4b4b4;
  margin-top: 0;
  margin-bottom: 0;
  transition: all 0.3s;
}
.spec-container-active .qualification {
  color: var(--tg-theme-button-text-color);
}
